<md-dialog aria-label="oneM2M AE 리소스 등록" id="create-vspace">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>AE 리소스 등록</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="fas fa-times" aria-label="대화상자 취소"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="max-width:800px">
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>AE 리소스 이름</label>
          <input ng-model="formData.aeName" type="text" ng-required="true">
        </md-input-container>

        <md-input-container class="md-block">
          <label>설명</label>
          <textarea ng-model="formData.description" type="text" rows="4"></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        취소
      </md-button>
      <md-button ng-click="create()">
        생성
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
